.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   color: blue;
     /* background-color: #222; 
     color: white;  */
    
  }
  
  .loader {
    border: 8px solid rgba(48, 2, 2, 0.3);
    border-top: 8px solid #ffffff; 
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
    animation: spin 1s linear infinite;
    
  }
  

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  